*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    gap: 10px;
    padding: 20px 50px;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 250px;
    height: 300px;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}
.container .box img{
    position: relative;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: 2;
    opacity: 0.8;
}
h2{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
@media (min-width:0px) and (max-width:600px){
    .container{
        display: block;
        padding: 10px;
    }
    .container .box{
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }
}

