*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:#eee;
}
.container .box{
    position: absolute;
    width: 80%;
    height: auto;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    
}
.container .box .left{
    position: relative;
    width: 50%;
    height:auto ;
    background-color: #000;
}
.container .box .left img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container .box .left .write-up{
    position:absolute;
    width: 300px;
    height:auto ;
    /* background-color: aqua; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.container .box .left .write-up h2{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 45px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 45px;
}
.container .box .left .write-up p{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 20px;
    /* background-color: aqua; */
}
.container .box .right{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 50px;
}
.container .box .right h2{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.container .box .right form{
    position: relative;
    width: 300px;
    height: auto;
    /* background-color: blue; */
}
.container .box .right form label{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}
.container .box .right form input{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 8px;
    font-weight: 15px;
    outline: none;
}
.container .box .right form button{
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}