*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    border: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eee;
}
.container .box {
    position: absolute;
    width: 70%;
    height: auto;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.container .box .left{
    position: relative;
    width: 40%;
    height: auto;
    background-color: teal;
}
.container .box  .left h2 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 40px;
    margin-bottom: 10px;
}
.container .box .right{
    position: relative;
    width: 60%;
    height: auto;
    background-color: aqua;
}
.container .box .right h2{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    
}
.container .box .right p{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    color:grey;
    margin-bottom: 10px;
}
.container .box .right form{
    position: relative;
    width:300px;
    height: auto;
    background-color: red;
    margin-left: 40px;
}
.container .box .right form label{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
}
