/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

/* Container and Box */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  
}

/* Left Section */
.right{
  position: relative;
  width: 40%;
  height: auto;
  background-color: #00bfae;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  position: relative;
  width: 70%;
  height: auto;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.right p {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  margin-bottom: 30px;
}

.right .sign-in {
  position: relative;
  width: 50%;
  height: 50px;
  margin-top: 30px;
  background-color: #ffffff;
  color: #00bfae;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

/* Right Section */
 .container .box .left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
 button{
  position: relative;
  width: 150px;
  height: 45px;
  border-radius:50px;
  border: 0;
}

.left h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: #00bfae;
}

.left p {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
  text-align: center;
}

.left .social-buttons {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left .social-btn {
  position: relative;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.container .box .left form{
  position: relative;
  width: auto;
  height: auto;
  margin-left:auto ;
  margin-right:auto ;
  display: block;
}
.container .box .left form label{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-weight: 500;
  font-size:13px;
}
.container .box .left form input{
  position: relative;
  width: 100%;
  height: auto;
  padding: 8px 12px;
  margin-bottom: 10px;
  outline: none;
  
}