/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

/* Container and Box */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  
}

 button{
  position: relative;
  width: 150px;
  height: 45px;
  border-radius:50px;
  border: 0;
  
}


/* Left Section */
.left {
  position: relative;
  width: 40%;
  height: auto;
  background-color: #00bfae;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.left p {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.left .sign-in-btn {
  position: relative;
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
display: block;
margin-left: auto;
margin-right: auto;

}


/* Right Section */
 .container .box .right {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 20px;
}

.right h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: #00bfae;
}

.right p {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;
  text-align: center;
}

.container .box .right form{
  position: relative;
  width: 320px;
  height: auto;
  margin-left:auto ;
  margin-right:auto ;
  display: block;
}
.container .box .right form label{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-weight: 500;
  font-size:13px;
}
.container .box .right form input{
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 12px;
  background: #eee;
  border: none;
  margin-bottom: 10px;
  outline: none;
  
}

.right  form .sign-up-btn {
  position: relative;
  width: 150px;
  height: 45px;
  background-color: #00bfae;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.social-icons{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  gap: 15px;
  display: flex;
  justify-content: center;
  /* background: red; */
  margin-bottom: 20px;
}
