
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                border: 0;
            }
            .container{
                position: relative;
                width: 100%;
                height: 100vh;
                background-color: #000;
                z-index: 1;
            }
            header{
                position: absolute;
                width: 100%;
                height: 70px;
                background-color: red;
                z-index: 2;
                display:flex;
                justify-content: space-between;
                padding: 10px 150px;
                align-items:center;
            }
            header .logo{
                position: relative;
                height: 100%;
                font-size: 35px;
                color: #FFF;
                text-transform: capitalize;
                font-weight: bold;
            }
            header nav{
                position: relative;
                height: 100%;
                font-size: 20px;
                display: flex;
                gap: 40px;
                align-items: center; 
                
            }
            header nav a{
                text-decoration: none;
                color: #FFF;
            }
            
            .write-up{
                position:absolute;
                width: 70%;
                height: 300px;
                
                top: 70%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: #FFF;
                z-index: 2;
            }
            .write-up  h2{
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 50px;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: 10px;
            
        }
       .write-up p{
            position: relative;
            width: 70%;
            height: auto;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
            text-transform: lowercase;
            margin-bottom: 20px;
        }
        button{
            position: relative;
            width: 150px;
            height: 45px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 15px;
            display: block;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            text-transform: capitalize;
            border-radius: 25px;
            background-color: #000;
            
        }
        .hero-img{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.7;
            object-fit: cover;
        }
/* ///////////////////////////////////////// */
    /* general styling */
        main{
            position: relative;
            width: 100%;
            height: auto;
            background-color: #f5f5f5;
            padding: 50px 0;
        }

        section{
            position: relative;
            width: 100%;
            height: auto;
            padding: 50px 160px;
            margin: auto;

        }

        .flex-div{
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }
        .title{
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        /* /////////////////////////////// */
        .about{
            position: relative;
            width: 100%;
            height: auto;
            
        }

        .about .col:first-child{
            position: relative;
            width: 40%;
            height: 400px;
            background-color: #FFF;
            border-radius: 20px;
            overflow: hidden;
        }
      
        .about-img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        .about .col:nth-child(2){
            position: relative;
            width: 50%;
            height:auto;
        }
        .about .col:nth-child(2) h2{
            position: relative;
            width: 100%;
            height: auto;
        }
        /* ///////////////////////////////// */
        .services{
            position: relative;
            width: 100%;
            height: auto;
            background-color: #222;
            padding: 50px 200px;
         
        } 
         .services .title{
            position: relative;
            width: 100%;
            height: auto;
            color: #FFF;
            font-size: 45px;
            font-weight: bold;
        }
        .services .flex-div .col{
            position: relative;
            width: 300px;
            height: auto;
            background-color: green;
            border-radius: 10px;
            padding:20px 20px ;
            font-size: 15px;
        }
        
         .services .flex-div {
            color:#fff;
            text-align: center;
            font-size: 20px;
            display: flex;
            /* justify-content: center; */
            margin:auto;
            padding-bottom: 10px;
       
         }
         .services .flex-div .col h3{
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            display: flex;
            font-size: 25px;
            font-weight: bold;
            color: #FFF;
            margin-bottom:10px ;
         }
         .services .flex-div .col p{
            position: relative;
            width: 100%;
            height: auto;
            text-align: left;
            color: #FFF;
         }
         /* skills section styling */

/* .skills .title::after{
    content: "what i know";
} */
.skills .flex-div .column{
    width: calc(50% - 30px);
}
.skills .flex-div .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .flex-div .left p{
    text-align: justify;
}
.skills .flex-div .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .flex-div .left a:hover{
    color: crimson;
    background: none;
}
.skills .flex-div .right .bars{
    margin-bottom: 15px;
}
.skills .flex-div .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .flex-div .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .flex-div .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .flex-div .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: green;
}
.skills .flex-div .right .html::before{
    width: 90%;
}
.skills .flex-div .right .css::before{
    width: 60%;
}
.skills .flex-div .right .js::before{
    width: 80%;
}
.skills .flex-div .right .php::before{
    width: 50%;
}
.skills .flex-div .right .mysql::before{
    width: 70%;
}
.skills .flex-div .right .Figma::before{
    width: 70%;
}

/* teams section styling */
/* .teams .title::after{
    content: "who with me";
} */
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid green;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid green!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
/* .contact .title::after{
    content: "get in touch";
    color: #111;
} */
.contact .flex-div .column{
    width: calc(50% - 30px);
}
.contact .flex-div .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .flex-div .left p{
    text-align: justify;
}
.contact .flex-div .left .icons{
    margin: 10px 0;
}
.contact .flex-div .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .flex-div .row .info{
    margin-left: 30px;
}
.contact  .flex-div .row i{
    font-size: 25px;
    color: crimson;
}
.contact .flex-div .info .head{
    font-weight: 500;
}
.contact .flex-div .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    /* display: flex; */
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (min-width:0) and (max-width: 600px) {
    section{
        padding: 30px 10px;
    }
    .container{
        width: 100%;
        /* padding: 10px; */
        height: 70vh;
    }
    header{
        padding: 10px 50px;

    }
    header nav{
        gap: 20px;
        font-size: 16px;
        display: none;
    }
    .write-up{
        width: 90%;
        height: auto;
        top: 65%;
    }
    .write-up h2{
        width: 90%;
        font-size: 30px;
    }
    .hero {
        height: 100vh;
    }
    .hero-img{
        width: 100%;
        height: 100%;
    }
    .flex-div{
        flex-direction: column;
        gap: 20px;
    }
    .services{
        padding: 50px 10px;
        width: 100%;
    }
    .services .flex-div .col{
        width: 80%;

    }
}
@media (max-width: 1104px) {
    .flex-div .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .flex-div .column,
    .contact .flex-div .column{
        width: 100%;
        margin-bottom: 35px;
    }
}





       
