*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.child{
    position: absolute;
    width: 70%;
    height: 300px;
    /* background- */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}
h2{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
}
p{
    position: relative;
    width: 70%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-transform: lowercase;
    margin-bottom: 20px;
}
button{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 25px;
}
