*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
h2{
    text-align: center;
    width: 100%;
    margin: 20px 0;
    color: #fff;
    font-size: 40px;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.container .box{
    position: relative;
    width: 280px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.container .box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}