*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1;
}
header{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: red;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    padding: 10px 150px;
    align-items:center;
}
header .logo{
    position: relative;
    height: 100%;
    font-size: 25px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: bold;
}
header nav{
    position: relative;
    height: 100%;
    font-size: 13px;
    display: flex;
    gap: 40px;
    align-items: center; 
}
header nav a{
    text-decoration: none;
    color: #FFF;
}

.write-up{
    position:absolute;
    width: 70%;
    height: 300px;
    top: 60%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFF;
    z-index: 2;
}
.write-up  h2{
position: relative;
width: 100%;
height: auto;
text-align: center;
font-size: 50px;
text-transform: capitalize;
font-weight: bold;
margin-bottom: 10px;

}
.write-up p{
position: relative;
width: 70%;
height: auto;
text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 20px;
text-transform: lowercase;
margin-bottom: 20px;
}
button{
position: relative;
width: 150px;
height: 45px;
text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 15px;
display: block;
color: #fff;
font-weight: bold;
font-size: 16px;
text-transform: capitalize;
border-radius: 25px;
background-color: #000;

}
.hero-img{
position: relative;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0.7;
object-fit: cover;
}
/* ///////////////////////////////////////// */
/* general styling */
main{
position: relative;
width: 100%;
height: auto;
background-color: #f5f5f5;
padding: 50px 0;
}

section{
position: relative;
width: 100%;
height: auto;
padding: 0px 100px;
}

.flex-div{
position: relative;
width: 100%;
height: auto;
display: flex;
gap: 30px;
}
.title{
position: relative;
width: 100%;
height: auto;
text-align: center;
font-size: 35px;
font-weight: bold;
margin-bottom: 20px;
}
/* /////////////////////////////// */
.about{
position: relative;
width: 100%;
height: auto;

}

.about .col:first-child{
position: relative;
width: 40%;
height: 400px;
background-color: #FFF;
border-radius: 20px;
overflow: hidden;
}

.about-img{
position: relative;
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
}
.about .col:nth-child(2){
position: relative;
width: 50%;
height:auto;
}
.about .col:nth-child(2) h2{
position: relative;
width: 100%;
height: auto;
}
/* ///////////////////////////////// */
.services{
position: relative;
width: 100%;
height: auto;
background-color: yellow;
}
.services .col{
position: relative;
width: 33%;
height: 300px;
background-color: green;
border-radius: 10px;
padding:20px 20px ;
}
i{
position: relative;
/* width:  */
height: auto;
font-size: 25px;
text-align: center;
}