*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
}

/* BODY */
body{
  position: relative;
  width: 100%;
  height: ;
}

/* HEADER */
header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color:#eee;
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}

/* LOGO */
header .logo{
  position: relative;
  /* left: 20px; */
  top: 10px;
  object-fit:contain;
  width: 150px;
  height: 50px;
  padding-bottom: 10px;
}

/* LOGIN BUTTON */
header button{
  position: relative;
  right: 20px;
  top: 15px;
  width: 80px;
  height: 35px;
  background-color: orange;
  color: white;
  border: none;
}

/* WRITE UP / HERO */
.hero{
    position: relative;
    width:100%;
    height:60vh;
    background-color: black;
    z-index: 2;
}
.hero img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.3;
   
}
.hero .write-up{
    position: absolute;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    /* background-color: blueviolet; */
}

/* WRITE UP TITLE */
.write-up h1{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}

/* WRITE UP TEXT */
.write-up p{
  position: relative;
  width: 70%;
  height: auto;
  margin: auto;
  text-align: center;
}


/* OUR SERVICES */
.our-services{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  padding-top: 40px;
  display: flex ;
  justify-content: center;
}

/* BOX 1 */
.box{
  position: relative;
  width: 200px;
  height: 220px;
  background-color: white;
  margin: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

.box img{
  position: relative;
  width: 100%;
  height: 150PX;
  object-fit: cover;
}

.box p{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* BOX 2 */


/* FOOTER */
footer{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
}

footer p{
  position: relative;
  color: white;
  text-align: center;
  top: 15px;
}

@media (min-width:0px) and (max-width:600px) {
  header{
    padding: 0px 90px;
  }
    header .logo{
      width: 100px;
      height: 40px;
    }
    header button{
      width: 70px;
      height: 30px;
      font-size: 12px;
    }
    .hero{
      height: 40vh;
    }
    .hero .write-up{
      width: 70%;
      padding: 0px;
    }
  .hero .write-up h1{
    font-size: 45px;
  }
  .hero .write-up p{
    width: 90%;
    font-size: 14px;
  }
  .our-services{
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  .box{
    width: 30%;
    height: auto;
  }
}

@media (max-width:400px){
  .hero .write-up{
    width: 80%;
    padding: 20px;
  }
  .hero .write-up h1{
    font-size: 30px;
  }
  .hero .write-up p{
    font-size: 14px;
  }
  .our-services{
  flex-direction: column;
  align-items: center;
  padding: 20px;
  }
  .box{
    width: 80%;
  }
}
